<template>
<header class="header">
    <h1>Шапка сайта</h1>
    <template v-if="$route.path == '/'">
        <router-link to="/create" tag="a">Cоздать страницу</router-link>
    </template>
</header>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.header {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

h1 {
    text-align: center;
    width: 100%;
}

a {
    cursor: pointer;
    padding: 5px;
    border: 1px solid green;
    background: greenyellow;
    display: block;
}
</style>
