<template>
<div>
    <section v-if="!created">
        <div>
            <input type="text" placeholder="Введите название меню" v-model="nameLink">
        </div>
        <div>
            <input type="text" placeholder="Введите url адрес страницы" v-model="url">
        </div>
        <a @click="addBlock">Добавить блок c картинкой</a>
        <form v-if="isForm">
            <div>
                <input type="text" placeholder="Введите ссылку на изображение" @input="addLink($event.target.value)">
            </div>
            <button @click="setDataForm">Готово</button>
            <div>
                Превью
            </div>
        </form>

        <template v-if="links.length">
            <div v-for="(link, idx) in links" :key="`link-${idx}`">
                <div>
                    <img :src="link" alt="">
                </div>
            </div>
        </template>
        <a @click="createRoute">Сохранить</a>
    </section>
    <section v-else style="color: green; font-size: 20px">
        СТРАНИЦА СОЗДАНА УСПЕШНО

        <a @click="addNewPage">Cоздать еще одну страницу</a>
    </section>
</div>
</template>

<script>
export default {
    data() {
        return {
            isForm: false,
            links: [],
            url: '',
            nameLink: '',
            created: false
        }
    },
    methods: {
        addBlock() {
            this.isForm = true
        },

        addLink(link) {
            this.links.push(link)
        },

        setDataForm() {
            this.isForm = false
        },

        addNewPage() {
            this.created = false
            this.links = []
            this.url = ''
            this.nameLink = ''
        },

        //Создание страницы
        createRoute() {
            const imagesHTML = this.links.map(item => {
                return `<div><img src="${item}"/></div>`
            })

            let images = ``;
            imagesHTML.forEach(img => images = images + img)
            const component = {
                template: `<section>${images}</section>`
            }

            const routes = [{
                path: `/${this.url}`,
                name: `${this.nameLink}`,
                component
            }]
            this.$router.addRoutes(routes)
            this.$store.commit('addPage', routes[0])
            this.created = true

        }
    },
}
</script>

<style lang="scss" scoped>
input {
    margin: 20px;
    width: 300px;
    height: 30px;
}

button {
    margin: 20px;
}

a {
    cursor: pointer;
    padding: 5px;
    border: 1px solid green;
    background: greenyellow;
    display: block;
    margin: 10px;
}
</style>
