<template>
<div class="main">
    <h1>
        Конструктор сайта
    </h1>

</div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
h1 {
    font-size: 30px;
}
</style>
