<template>
<div id="app">
    <section class="pages__bar">
        <h2>Страницы</h2>
        <ul v-for="(page, idx) in pages.filter(c => c.name != '404')" :key="`page-${idx}`">
          <router-link :to="page.path"><li>{{page.name}}</li></router-link>
        </ul>
    </section>
    <section class="layout">
        <app-header></app-header>
        <router-view></router-view>
    </section>

</div>
</template>

<script>
import appHeader from './components/appHeader.vue'
import {mapState} from 'vuex'
export default {
    name: 'App',
    components: {appHeader},

    computed: {
      ...mapState({
        pages: state => state.pages
      })
    },

    created(){
      this.$store.commit('addStartRoutes', this.$router.options.routes)
    }
}
</script>

<style>
html, body{
  padding: 0;
  margin: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
}
.pages__bar{
  border-right: 5px solid black;
  height: 100vh;
  margin: 0 10px;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.layout{
  width: 100%;
}
li{
  list-style: none;
}

</style>
